img {border: 3px black;border-radius:40px;}
figure {
	width:70%; 			
	max-width:800px;			
	padding-top:30px;		
	padding-right:0;			
	padding-bottom:10px;		
	padding-left:10px;	
	text-align:center;			
	margin-left:auto;	
	margin-right:auto;
	margin-bottom:10px;			
	background-color:yellow;	
border-radius:40px;	
	}
 p {margin-left: 20px}
li {
	list-style-image:url('../kepek/bee3.png');
margin-left:40px}

h2 {text-decoration: overline;margin-left: 20px}
	
body {border-style: double; border-color:orange;}
body {background-color: black;}
body{{	margin-top:20px; margin-bottom:20px; margin-left:auto; margin-right:auto;
outline-style: double orange; background-color: black;}
{front-family: Garamond, serif }};
	{div {padding: 10px; }
li {
	list-style-image:url('../kepek/bee3.png');
margin-left:40px}